<div id="<%= dom_id search_analytic %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Ip address:</strong>
    <%= search_analytic.ip_address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Query:</strong>
    <%= search_analytic.query %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this search analytic", search_analytic, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this search analytic", edit_search_analytic_path(search_analytic), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
