<!DOCTYPE html>
<html>
  <head>
    <title>SearchEngine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="flex justify-between items-center gap-8 bg-blue-50 py-4 px-4 shadow-md">
        <section></section>
        <section class="flex justify-center items-center gap-8">
          <a href="/">Home</a>
          <a href="/search_analytics">Analytics</a>
        </section>
        <section>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
        </section>
      </nav>
      <% end %>
      <main class="container mx-auto px-8 py-8 flex">
        <%= yield %>
      </main>
  </body>
</html>
